*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
}
header{
    background-image: url(Assets/img/banner-bk.jpg);
    width: 100%;
    height: 80%;
}
.container-1{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: right;
}
.img-container{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    font-size: 3.5rem;
}
h3{
    display: flex;
    text-align: right;
    color: white;
    margin-top: 4rem;
    margin-right: 3rem;
    cursor: pointer;
}
.container-2{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: left;
}
h1{
    display: flex;
    text-align: left;
    color: white;
    margin-left: 6rem;
    font-size: 75px;
    margin-top: 1rem;
}
.paragraph{
    display: flex;
    width: 60%;
    height: 14%;
    justify-content: left;
    color: whitesmoke;
    margin-left: 6rem;
    margin-top: 3rem;
}
.btn-ini{
    display: flex;
    width: 6rem;
    height: 2rem;
    margin-left: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #01FEAD;
    font-weight: bold;
    color: #182649;
    cursor: pointer;
}
.section-1{
    width: 100%;
    height: 50%;
    margin-bottom: 9rem;
}
.title-1{
    width: 100%;
    height: 20%;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2.5rem;
}
.container-3{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}
.img-section{
    margin-left: 3rem;
}
.text-1{
    text-align: center;
    font-size: 1rem;
}
.title-2{
    text-align: center;
    margin-bottom: 0.8rem;
}
.title-3{
    width: 88%;
    height: 50%;
    display: flex;
    justify-content: left;
    margin-left: 6rem;
    font-size: 2.5rem;
}
.section-2{
    background-image: url(Assets/img/banner-bk2.png);
    width: 100%;
    height: 100%;
}
.container-4{
    width: 100%;
    height: 60%;
}
.text-2{
    text-align: left;
    margin-left: 6rem;
    margin-bottom: 3rem;
}
.content-1{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: right;
    margin-bottom: 9rem;
}
.btn-2{
    display: flex;
    width: 6rem;
    height: 2rem;
    margin-left: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #192440;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.img-2{
    margin-right: 6rem;
}
.content-2{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: left;
}
.title-4{
    width: 88%;
    height: 50%;
    display: flex;
    justify-content: left;
    font-size: 2.5rem;
    margin-left: 6rem;
}
.img-3{
    margin-left: 6rem;
}
.section-3{
    width: 100%;
    height: 80%;
}
.content-3{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 20%;
    height: 80%;
}
.text-3{
    color: black;
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.mix{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool{
    margin-top: 3rem;
}
.number{
    font-size: 5rem;
    align-items: center;
    text-align: center;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.text-4{
    text-align: center;
    margin: 0.8rem;
}
.btn-3{
    display: flex;
    width: 6rem;
    height: 2rem;
    margin-left: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    color: #182649;
    cursor: pointer;
    border-color: #182649;
    margin-top: 2rem;
}
.block-center{
    width: 20%;
    height: 80%;
    background-color: #192440;
    border-radius: 5px;
}
.text-3center{
    color: rgb(255, 255, 255);
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.mix-center{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.text-4center{
    text-align: center;
    margin: 0.8rem;
    color: white;
}
.btn-3center{
    display: flex;
    width: 6rem;
    height: 2rem;
    margin-left: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #01FEAD;
    font-weight: bold;
    color: #182649;
    cursor: pointer;
    border-color:#182649;
    border: none;
    margin-top: 2rem;
}
.content-4{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}
.content-4 > img{
    width: 10%;
    height: 55%;
}
.section-4{
    background-image: url(Assets/img/contact-bk.jpg);
    width: 100%;
    height: 60%;
    display: flex;
}
.container-5{
    width: 50%;
    height: 100%;
}
.container-6{
    width: 50%;
    height: 100%;
}
.container-5 > h2{
    color: white;
    display: flex;
    justify-content: left;
    font-size: 3rem;
    margin-top: 6rem;
    margin-left: 6rem;
}
.container-5 > p{
    color: white;
    margin-left: 6rem;
    margin-top: 1rem;
}
.content-5{
    display: flex;
    margin-top: 6rem;
}
.group-2{
    margin-top: 1rem;
    width: 29.8%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.group-2 > p{
    color: white;
    margin-bottom: 0.4rem;
}
.group-2 > input{
    background-color: transparent;
    border-color: #01FEAD;
    border-radius: 5px;
    width: 100%;
    height: 75%;
}
.text-m{
    width: 80%;
    height: 50%;
}
.group-2m{
    margin-top: 1rem;
    width: 80%;
    height: 30%;
}
.group-2m >p{
    color: white;
    margin-bottom: 0.4rem;
}
.group-2m > input{
    background-color: transparent;
    border-color: #01FEAD;
    border-radius: 5px;
    width: 80%;
    height: 60%;
}
.container-6 > button{
    width: 64%;
    height: 7%;
    border-radius: 20px;
    background-color: #01FEAD;
    border-color: #01FEAD;
}
.footer{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #192440;
}
.social{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.social >button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    border-radius: 50%;
    font-size: 1.4rem;
    border-color: transparent;
    align-items: center;
    margin: 0.3rem;
}
footer >p{
    color: white;
    width: 30%;
    margin-left: 6rem;
}